body{
    font-family: 'Itim', cursive;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(215,75,80,1) 0%, rgba(243,146,32,1) 100.2% );
    color: white;
}
header{
    text-align: center;
}
p{
    margin:0;
}
input{
    margin: 1.5px;
}
h3{
    text-decoration: underline;
    margin:4px;
}
#contenedorPrincipal{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#formularioContacto{
    width: 300px;
    height: 450px;
    border: solid 1px ;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px white;
    padding-left: 10px;
}
.seccionGeneroFormulario{
    margin-top: 20px;
}